<div id="dashboard-container" class="dashboard-container" ng-show="!displayPageNotFoundTemplate">
    <!-- Dashboard Sidebar for mobile user -->
    <div class="dashboard__navigation-for-gen-usr-desktop">
        <div class="dashboard__navigation-for-gen-usr-title">
            {{'DASHBOARD.NAME' | translate}}
        </div>
        <ul class="dashboard__navigation-for-gen-usr-items">
            <li class="dashboard__navigation-for-gen-usr-item" ng-repeat="panel in panels" ng-class="{active: panel.isActive}">
                <div ng-click="navigateTo(panel)">
                    <fa name="{{panel.icon}}"></fa>
                    <span class="dashboard__navigation-for-gen-usr-item-title">{{panel.displayName | translate}}</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="dashboard__content-for-gen-usr-desktop">
        <div ng-repeat="panel in panels">
            <div ng-if="panel.isActive">
                <ng-include src="panel.templateUrl"></ng-include>
            </div>
        </div>
    </div>
</div>

<div ng-show="displayPageNotFoundTemplate">
    <div ng-include="'_shared/errorTemplate/errorTemplate.html'"></div>
</div>